@font-face {
	font-family: 'CircularBook';
	src: url("circular-book.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CircularBookItalic';
	src: url("circular-book-italic.otf");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'CircularBookBold';
	src: url("circular-bold.otf");
	font-weight: bold;
	font-style: normal;
}

.nav-container.clearfix {
	display: none;
}

body {
	min-width: 320px;
	a#type {
		width: 70px;
		height: 180px;
		background-size: contain;
		position: absolute;
		background-position: right;
		@media screen and (max-width: 479px) {
			height: 120px;
			margin-top: 75px;
		}
	}
	a#main {
		width: 50px;
		height: 180px;
		background-size: contain;
		background-position: center;
		position: absolute;
		@media screen and (max-width: 479px) {
			height: 120px;
			background-size: 40px;
			margin-top: 75px;
			background-position-x: left;
		}
	}
	.main {
		@media screen and (max-width: 999px) {
			width: 80%;
			margin: 0 auto;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

div.main.width-container.clearfix {
	padding-top: 140px!important;
	@media screen and (max-width: 768px) {
		padding-top: 120px!important;
		width: 100%;
		padding-left: 65px;
		padding-right: 65px;
	}
	@media screen and (max-width: 479px) {
		padding-left: 55px;
		padding-right: 55px;
		padding-top: 75px!important;
	}
	.onecolumn-container.clearfix {
		padding-left: 0;
		padding-right: 0;
		@media screen and (max-width: 768px) {
			width: 100%;
			margin: 0 auto;
		}
		.content-pages-show-donation-wide {
			h1 {
				font-family: CircularBookBold;
				font-size: 36px;
				line-height: 40px;
				text-transform: none;
				@media screen and (max-width: 768px) {
					text-align: center;
				}
			}
			.donate-fixed-header {
				position: absolute;
				text-align: center;
				right: 0;
				left: 0;
				top: 30px;
				@media screen and (max-width: 479px) {
					top: 25px;
				}
				p {
					font-size: 18px;
					font-family: CircularBookBold;
					text-transform: uppercase;
					display: inline-block;
					border-bottom: 4px solid black;
					padding-bottom: 3px;
					letter-spacing: .04em;
					@media screen and (max-width: 479px) {
						font-size: 15px;
					}
				}
			}
			form {
				.donationform-section.amount {
					font-family: CircularBook;
					font-size: 22px;
					line-height: 32px;
					@media screen and (max-width: 768px) {
						text-align: center;
						margin-top: 30px;
					}
					p {
						margin-bottom: 20px;
					}
					.radio-inline {
						@media screen and (max-width: 768px) {
							width: 100%;
							max-width: 450px;
							margin: 0 auto;
							font-size: 0;
						}
						span {
							@media screen and (max-width: 768px) {
								width: 33.33%;
								display: inline-block;
								margin-bottom: 15px;
							}
							input {
								&:checked+.active {
									background-color: black;
									color: white;
								}
							}
							label {
								font-size: 18px;
								font-family: CircularBookBold;
								color: black;
								letter-spacing: .08em;
								border-color: black;
								border-width: 4px;
								padding: 8px 15px;
								&.active, &:active {
									background-color: black;
									color: white;
								}
								@media screen and (max-width: 899px) {
									margin-right: 10px;
								}
								@media screen and (max-width: 768px) {
									width: 90%;
									max-width: 140px;
									margin: 0 auto;
								}
							}
						}
						.other-amount-wrap {
							position: relative;
							@media screen and (max-width: 768px) {
								max-width: 440px;
								margin: 10px auto 0;
								text-align: left;
							}
							label {
								font-size: 20px;
							}
							input {
								background: none;
								height: 40px;
								padding-left: 25px;
								font-size: 18px;
								letter-spacing: .08em;
								font-family: CircularBookBold;
								border-bottom-width: 4px;
								&:focus {
									border-color: black;
								}
							}
							&:before {
								content: '$';
								position: absolute;
								top: 35px;
								left: 10px;
								font-size: 18px;
							}
						}
					}
					.row-fluid {
						div {
							font-style: italic;
						}
					}
				}
				.donationform-section.additional-info {
					margin-top: 50px;
					h3 {
						font-family: CircularBookBold;
						font-size: 28px;
						line-height: 32px;
						text-transform: none;
						margin-bottom: 30px;
					}
					h4 {
						font-family: CircularBook;
						font-size: 22px;
						line-height: 28px;
						text-transform: none;
						margin-bottom: 40px;
					}
					table {
						width: 100%;
						tr {
							@media screen and (max-width: 768px) {
								display: block;
							}
							td {
								width: 50%;
								padding-right: 40px;
								padding-bottom: 40px;
								@media screen and (max-width: 768px) {
									display: block;
									width: 100%;
									padding-right: 10px;
								}
								input {
									margin-right: 20px;
									-webkit-appearance: none;
									background: white;
									border: 4px solid black;
									width: 18px;
									padding: 0;
									height: 18px;
									cursor: pointer;
									position: absolute;
									&:active, &:checked {
										background: black;
									}
								}
								label {
									font-size: 18px;
									font-family: CircularBook;
									padding-left: 40px;
									display: block;
								}
							}
						}
					}
				}
				.donationform-section.comments {
					margin-top: 20px;
					h4 {
						font-family: CircularBook;
						font-size: 22px;
						line-height: 28px;
						text-transform: none;
						margin-bottom: 20px;
					}
					input {
						background: white;
						font-family: CircularBook;
						font-size: 18px;
						color: black;
						border-bottom: 4px solid black;
						padding-left: 15px;
						&:focus {
							border-bottom: 4px solid black;
						}
					}
				}
				.donationform-section.billing {
					font-family: CircularBook;
					font-size: 22px;
					line-height: 28px;
					text-transform: none;
					h3 {
						font-family: CircularBookBold;
						font-size: 28px;
						text-transform: none;
					}
					input, select {
						background: white;
						font-family: CircularBook;
						font-size: 18px;
						color: black;
						border-bottom: 4px solid black;
						padding-left: 15px;
						&:focus {
							border-bottom: 4px solid black;
						}
					}
					select {
						padding-top: 9px;
						padding-bottom: 9px;
						&:focus {
							outline: none;
						}
					}
					#donation_last_name, #donation_billing_address_city {
						margin-bottom: 25px;
					}
				}
				.donationform-section.payment-section {
					font-family: CircularBook;
					font-size: 22px;
					line-height: 28px;
					text-transform: none;
					.success-button {
						font-family: CircularBookBold;
						font-size: 18px;
						letter-spacing: .08em;
						text-transform: uppercase;
						padding: 8px 25px;
						border: 4px solid black;
						@media screen and (max-width: 768px) {
							float: left;
							margin-top: 50px;
						}
						@media screen and (max-width: 399px) {
							width: 100%;
						}
						&:focus {
							border: 4px solid black;
						}
					}
					.padbottom {
						@media screen and (max-width: 768px) {
							position: absolute;
						}
						.page-tag {
							margin-top: 5px;
							line-height: 1;
						}
					}
				}
			}
		}
	}
}